@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
    font-family: "Avenir";
    src: url("fonts/avenir-heavy.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}

body {
    background-color: black;
    color: white;
    font-size: 18px;
    font-family: "Noto Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}

a:active {
    opacity: 1;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

/*---------HEADER---------*/

.header {

}

.header__container {
    display: flex;
    align-items: center;
    gap: 110px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__logo {

}

.logo-img {
}

.logo-text {
}

.header__login {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: underline;
}

